* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 30px;
    font-size: 0px;
}
.left-content {
    width: 262px;
    height: 964px;
    background: #808080;
    margin-right: 30px;
    display: inline-block;
}
.top-nav {
    width: 1088px;
    height: 80px;
    background: #808080;
    display: inline-block;
}
