* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 20px;
    height: 1024px;
    background: #fff;
    font-size: 0;
}

nav {
    width: 1400px;
    height: 80px;
    background: gray;
    margin-bottom: 20px;
    display: inline-block;
}
.top-boxes {
    margin-bottom: 20px;
}
.top-box-1 {
    display: inline-block;
    width: 907px;
    height: 460px;
    background: #808080;
    margin-right: 20px;
    vertical-align: top;
}
.top-box-2 {
    background: #808080;
    height: 460px;
    width: 473px;
    display: inline-block;
    vertical-align: top;
}
.bottom-boxes {
    height: 497px;
}
.bottom-box-left {
    padding: 20px;
    width: 670px;
    height: 404px;
    background-color: #808080;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
.bottom-box-right {
    width: 710px;
    height: 404px;
    background-color: #808080;
    display: inline-block;
    vertical-align: top;
}
.bottom-inner-1 {
    background: #d9d9d9;
    width: 305px;
    height: 364px;
    display: inline-block;
    margin-right: 20px;
}
.bottom-inner-2 {
    background: #d9d9d9;
    width: 305px;
    height: 364px;
    display: inline-block;
}
