div {
    height: 10px;
    width: 50%;
}
body {
    display: flex;
}
/* Gray */
.gray-900 {
    background-color: hsl(220, 43%, 11%);
}
.gray-800 {
    background-color: hsl(214, 33%, 17%);
}
.gray-700 {
    background-color: hsl(218, 24%, 27%);
}
.gray-600 {
    background-color: hsl(216, 18%, 34%);
}
.gray-500 {
    background-color: hsl(221, 13%, 46%);
}
.gray-400 {
    background-color: hsl(218, 15%, 65%);
}
.gray-300 {
    background-color: hsl(217, 16%, 84%);
}
.gray-200 {
    background-color: hsl(220, 17%, 93%);
}
.gray-100 {
    background-color: hsl(220, 17%, 93%);
}
.gray-50 {
    background-color: hsl(210, 20%, 98%);
}
.gray-25 {
    background-color: hsl(240, 20%, 99%);
}

/* Primary */
.primary-900 {
    background-color: hsl(254, 45%, 34%);
}
.primary-800 {
    background-color: hsl(256, 48%, 42%);
}
.primary-700 {
    background-color: hsl(258, 54%, 52%);
}
.primary-600 {
    background-color: hsl(259, 63%, 59%);
}
.primary-500 {
    background-color: hsl(260, 77%, 70%);
}
.primary-400 {
    background-color: hsl(262, 85%, 77%);
}
.primary-300 {
    background-color: hsl(265, 89%, 86%);
}
.primary-200 {
    background-color: hsl(268, 95%, 92%);
}
.primary-100 {
    background-color: hsl(267, 100%, 96%);
}
.primary-50 {
    background-color: hsl(264, 100%, 98%);
}
.primary-25 {
    background-color: hsl(264, 100%, 99%);
}
/* Error */
.error-900 {
    background-color: hsl(8, 65%, 29%);
}
.error-800 {
    background-color: hsl(4, 72%, 33%);
}
.error-700 {
    background-color: hsl(4, 76%, 40%);
}
.error-600 {
    background-color: hsl(4, 74%, 49%);
}
.error-500 {
    background-color: hsl(4, 86%, 58%);
}
.error-400 {
    background-color: hsl(4, 92%, 69%);
}
.error-300 {
    background-color: hsl(4, 96%, 80%);
}
.error-200 {
    background-color: hsl(3, 96%, 89%);
}
.error-100 {
    background-color: hsl(4, 93%, 94%);
}
.error-50 {
    background-color: hsl(5, 86%, 97%);
}
.error-25 {
    background-color: hsl(12, 100%, 99%);
}
/* Warning */
.warning-900 {
    background-color: hsl(18, 79%, 27%);
}
.warning-800 {
    background-color: hsl(19, 84%, 31%);
}
.warning-700 {
    background-color: hsl(22, 92%, 37%);
}
.warning-600 {
    background-color: hsl(28, 97%, 44%);
}
.warning-500 {
    background-color: hsl(34, 94%, 50%);
}
.warning-400 {
    background-color: hsl(39, 98%, 56%);
}
.warning-300 {
    background-color: hsl(42, 99%, 65%);
}
.warning-200 {
    background-color: hsl(44, 98%, 77%);
}
.warning-100 {
    background-color: hsl(45, 96%, 89%);
}
.warning-50 {
    background-color: hsl(45, 100%, 96%);
}
.warning-25 {
    background-color: hsl(42, 100%, 98%);
}
/* Success */
.success-900 {
    background-color: hsl(156, 88%, 16%);
}
.success-800 {
    background-color: hsl(155, 90%, 20%);
}
.success-700 {
    background-color: hsl(155, 97%, 24%);
}
.success-600 {
    background-color: hsl(153, 96%, 30%);
}
.success-500 {
    background-color: hsl(152, 82%, 39%);
}
.success-400 {
    background-color: hsl(150, 66%, 52%);
}
.success-300 {
    background-color: hsl(148, 74%, 67%);
}
.success-200 {
    background-color: hsl(144, 78%, 80%);
}
.success-100 {
    background-color: hsl(140, 80%, 90%);
}
.success-50 {
    background-color: hsl(145, 81%, 96%);
}
.success-25 {
    background-color: hsl(142, 80%, 98%);
}
