.btn {
    border: none;
    cursor: pointer;
}

.btn-sm {
    height: 50px;
    border-radius: 133px;
    padding-left: 36px;
    padding-right: 36px;
}

.btn-md {
    height: 55px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 162px;
    padding-right: 36px;
    padding-left: 36px;
}

.btn-lg {
    height: 74px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 162px;
    padding-right: 55px;
    padding-left: 55px;
}

.btn-green {
    background-color: #ffffff;
    background-background-color: #3fa72f;
}

.btn-orange {
    background-color: #ffffff;
    background-background-color: #ff8a00;
}

.btn-gray {
    background-color: #311f09;
    background-background-color: #ecf0f1;
}

.btn-pink {
    background-color: #ffffff;
    background-background-color: #bf57a8;
}

.btn-blue {
    background-color: #ffffff;
    background-background-color: #667ec7;
}
